<div ng-controller="AddPostCtrl">

    <div class="blog-masthead">
        <div class="container">
            <nav class="blog-nav">
                <a class="blog-nav-item " href="#/welcome">Home</a>
                <a class="blog-nav-item active" href="#/addPost">Add Movie-log</a>
                <span class="pull-right"><span class="login-info">Logged In as {{username}} | </span><a class="blog-nav-item" href="#/logout">Logout</a></span>
            </nav>
        </div>
    </div>

    <div class="container">
        <div class="page-header">
        <h2 class="main-title">New Movie-log</h2></div>
        <form class="form-horizontal" name="AddEntry" ng-submit="AddPost()">
            <fieldset>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="txtName">Movie Name</label>
                    <div class="col-md-4">
                        <input id="txtTitle" required name="txtName" ng-model="movie.name" type="text" class="form-control input-md">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="txtTheatre">Theatre</label>
                    <div class="col-md-4">
                        <input id="txtTheatre" required name="txtTheatre" ng-model="movie.theatre" type="text" class="form-control input-md">
                    </div>
                </div>

                <div class="form-group">

                    <label class="col-md-4 control-label" for="txtDate">Date</label>
                    <div class="col-md-4">
                                <input id="txtDate" name="txtDate" required ng-model="movie.date" type="date" placeholder="dd-mm-yyyy" class="form-control input-md">
                
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="txtCount">No. of people went</label>
                    <div class="col-md-4">
                        <input id="txtCount" name="txtCount" required ng-model="movie.peopleCount" type="number" class="form-control input-md">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="txtCost">Total Tickets Cost</label>
                    <div class="col-md-4">
                        <input id="txtCost" name="txtCost" required ng-model="movie.tktCost" type="number" class="form-control input-md">
                    </div>
                </div>


                <!-- Button -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="singlebutton"></label>
                    <div class="col-md-4">



                        <button ladda-loading="login.loading" data-style="expand-right" ng-disabled="AddEntry.$invalid" name="singlebutton" class="btn btn-primary segoe-ui-light ladda-button" type="submit"><span class="ladda-label">Publish</span></button>

                    </div>
                </div>

            </fieldset>
        </form>


    </div>
    <!-- /.container -->

    <movie-log-footer></movie-log-footer>



</div>
